/*lets_start*/
.bottom_format {
	-fx-background-radius: 30px;
	-fx-border-radius: 150;
	-fx-cursor: hand;
}

.bottom_format:pressed {
	-fx-scale-x: 0.95;
	-fx-scale-y: 0.95;
}

.bottom_format:hover {
	
}

.question_text_flow {
	-fx-background-color: white;
	-fx-background-radius: 20;
	-fx-padding: 10;
	-fx-text-wrap: true;
	-fx-text-alignment: center;
}

.ABC {
	-fx-background-color: white;
	-fx-background-radius: 50;
	-fx-font-weight: bold;
}

.answer {
	-fx-background-color: white;
	-fx-background-radius: 30;
	-fx-text-wrap: true;
	-fx-text-alignment: center;
	-fx-padding: 10 0 0 0;
}